html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    padding-bottom: 30px;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, black), url("../images/background.jpg");
    /* Photo by Eriks Abzinovs from Pexels */
    font-family: 'Forum', cursive;
  }
nav {
    background-color: transparent;
  }

  #navbar-brand {
    padding: 10px;
    /* background-color: #4baaa4; */
    letter-spacing: 4px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
  }
  
  .container {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .card {
    border-radius: 0;
    border: 0;
  }
  
  h1 {
    color: #4baaa4;
    padding-top: 20px;
    font-weight: bold;
  }
  
  footer {
    clear: both;
    color: #777;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  .btn-primary {
    padding: 15px 30px 15px 30px;
    background-color: #4baaa4;
    margin-left: 5px;
    color: white;
    margin-bottom: 30px;
    border-radius: 0;
    border-color: #4baaa4;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  p {
    line-height: 150%;
  }

  .card-img-top {
    filter: grayscale(100%);
  }
  .card-img-top:hover {
    filter: grayscale(0%);
  }
