html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    padding-bottom: 30px;
    position: relative;
    background-image: url("../images/background.jpg");
  }
  
  #navbar-brand {
    padding: 10px;
    background-color: #4baaa4;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10px;
    color: white;
  }
  
  .container {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .card {
    border-radius: 0;
    border: 0;
  }
  
  h1 {
    color: #4baaa4;
    padding-top: 20px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }
  
  footer {
    clear: both;
    color: #777;
    background-color: #666;
    padding: 10px;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4baaa4;
    border-top-width: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  .btn-primary {
    padding: 15px 30px 15px 30px;
    background-color: #4baaa4;
    margin-left: 5px;
    color: white;
    margin-bottom: 30px;
    border-radius: 0;
    border-color: #4baaa4;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
  }

  .card-img-top {
    filter: grayscale(100%);
  }
  .card-img-top:hover {
    filter: grayscale(0%);
  }
