html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    padding-bottom: 30px;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, black), url("../images/background.jpg");
    /* Photo by Brennan Burling on Unsplash */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Forum', cursive;
    color: white
  }
  
  nav {
    background-color: transparent;
  }

  .navbar-toggler{
    color: white;
    font-size: smaller;
  }

  #navbar-brand {
    padding: 10px;
    /* background-color: #4baaa4; */
    letter-spacing: 4px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
    color: white;
  }
  
  .container {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  .card {
    border: 0;
    background-color: rgba(0, 0, 0, .5)
  }
  
  h1 {
    color: slategray;
    /* padding-top: 20px; */
    font-weight: bold;
  }
  a {
    color: steelblue;
  }

  footer {
    clear: both;
    color: #777;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  .btn-primary {
    background-color: steelblue;
    color: white;
    border-style: none;
  }

  .links{
    font-size: large;
  }
  
  p {
    line-height: 150%;
  }

  .card-img-top {
    filter: grayscale(100%);
  }
  .card-img-top:hover {
    filter: grayscale(0%);
  }
